<h1>Warranty Index</h1>

<div>
  <ol>
    <% @warranties.each do |warranty| %>
      <li>
        <%= link_to warranty.warranty_name, warranty %>
      </li>
    <% end %>
  </ol>
</div>
<%= link_to 'Add New Warranty', new_warranty_path %>
<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
<p>Thank you for visiting this page</p>
