<%= render 'shared/flash_notice' %>

<div class='container my_container'>
  <div class="row row-col-1">
    <%= render 'table', title: 'Current Warranties', any_warranties: @warranties %>

    <%= render 'table', title: 'Expired Warranties', any_warranties: @expired_warranties %>

    <%= link_to 'Add New Warranty', new_warranty_path, class: 'btn btn-secondary col-2' %>
  </div>
</div>
