// Place all the styles related to the Warranty controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.date-validation-error {
  border: 1px solid red;  /* Add any other styles to make it noticeable */
}

table, th, td, caption {
  border: 1px solid black;
  border-collapse: collapse;
}
